body {
    background: #EEE;
    font-family: sans-serif;
    margin: 20px;
    -webkit-user-select: none;
}

main {
    text-align: center;
}

/* Header */

header {
    color: #8B9474;
    font-size: 2.5rem;
    text-align: center;
}

header h1 {
    margin: 10px;
    clear: both;
}

/* Body */

.btn {
    background: #117175;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

#board {
    background: #117175;
    border-radius: 8px;
    display: inline-block;
    padding: 5px;
}

.row {
    overflow: auto;
}

.tile {
    background: #F5A65B;
    border-radius: 4px;
    color: #fff;
    float: left;
    font-size: 2.0rem;
    height: 80px;
    line-height: 80px;
    margin: 5px;
    text-align: center;
    width: 80px;
}

.tile-2 {
    background: #C1CC99;
}

.tile-4 {
    background: #8BBD8B;
}

.tile-8 {
    background: #6CAE75;
}

.tile-16 {
    background: rgb(243, 245, 120);
}

.tile-32 {
    background: rgb(247, 234, 55);
}

.tile-64 {
    background: rgb(111, 182, 248);
}

.tile-128 {
    background: rgb(49, 173, 245);
}

.tile-256 {
    background: rgb(64, 67, 243);
}

.tile-512 {
    background: rgb(109, 44, 230);
}

.tile-1024 {
    background: #C93482;
}

.tile-2048 {
    background: rgb(125, 5, 136);
}

button:focus {outline:0;}

button {
    border-radius: 8px;
    background-color: #117175;
    color: #8BBD8B;
    border: 2px solid #117175;
    padding: 7px;
    font-size: 2.0rem;
    margin-bottom: 20px;
}

button:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
}

/* Game Over Page */

#game-over-page * {
    font-weight: bold;
}

#game-over-page {
    display: none;
    opacity: 0.85;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 75%;
    height: 95%;
    background-color: #258f5f;
    border-radius: 15px;
    text-align: center;
    color: #fff;
}

#game-over {
    font-size: 3.8rem;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
    padding: 180px 0px 20px 0px;
    margin: 10px 0px 50px 0px;
}

#game-over-page h3 {
    font-size: 3.3rem;
    font-weight: bold;
    margin: 10px;
}

#name-field {
    font-size: 2.0rem;
    width: 70px;
}

#game-over-score {
    font-size: 2.5rem;
}

#final-score {
    font-size: 2.5rem;
}

#submit-score-button {
    background-color: #000;
    color: #fff;
}

/* High Scores Page */

#high-scores-page * {
    color: #8B9474;
    text-align: center;
    list-style-type: none;
    padding-inline-start: 0;
}

#high-scores-page {
    width: 60%;
    display: none;
    margin: auto;
}

#high-scores-heading {
    font-size: 3.5rem;
    text-decoration: underline;
}

#back-button {
    float: right;
    padding: 5px 10px;
}

#high-scores-list {
    font-size: 2.5rem;
}

#high-scores-list li {
    width: 300px;
    padding: 20px 0px;
    text-align: left;
    margin: auto;
}

/* Footer */

#score-div {
    color: #8B9474;
    width: 540px;
    font-size: 1.3rem;
    margin: auto;
}

#high-scores-button {
    float: right;
}


/* Arrow Keys */

#arrow-keys-div {
    width: 540px;
    text-align: center;
    margin: auto;
}

.arrow-key {
    display: none;
    width: 100px;
    height: 100px;
    background-color: #117175;
    color: #F5A65B;
    font-size: 5.0rem;
    text-align: center;
    margin: auto;
}

#up-arrow-key {
    margin-bottom: 5px;
}


@media only screen 
and (min-device-width: 300px) 
and (max-device-width: 1024px) {
    .arrow-key {
        display: block;
    }

    #left-arrow-key {
        display: inline-block;
    }

    #down-arrow-key {
        display: inline-block;
    }

    #right-arrow-key {
        display: inline-block;
    }
}