body {
    background: #EEE;
    font-family: sans-serif;
    margin: 20px;
    -webkit-user-select: none;
}

/* Header */

header {
    color: #8B9474;
    font-size: 2.7rem;
    text-align: center;
}

header h1 {
    margin: 10px;
    clear: both;
}

#game-over {
    color: #c44119;
    font-size: 1.9rem;
    margin: 0px 0px 20px 0px;
}

/* Body */

.btn {
    background: #117175;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

#board {
    background: #117175;
    border-radius: 8px;
    display: block;
    width: 540px;
    padding: 5px;
    margin: auto;
}

.row {
    overflow: auto;
}

.tile {
    background: #F5A65B;
    border-radius: 4px;
    color: #fff;
    float: left;
    font-size: 4.5rem;
    height: 125px;
    line-height: 125px;
    margin: 5px;
    text-align: center;
    width: 125px;
}

.tile-2 {
    background: #C1CC99;
}

.tile-4 {
    background: #8BBD8B;
}

.tile-8 {
    background: #6CAE75;
}

.tile-16 {
    background: rgb(243, 245, 120);
}

.tile-32 {
    background: rgb(247, 234, 55);
}

.tile-64 {
    background: rgb(111, 182, 248);
}

.tile-128 {
    background: rgb(49, 173, 245);
}

.tile-256 {
    background: rgb(64, 67, 243);
}

.tile-512 {
    background: rgb(109, 44, 230);
}

.tile-1024 {
    background: #C93482;
    font-size: 40px;
}

.tile-2048 {
    background: rgb(125, 5, 136);
    font-size: 40px;
}

button:focus {outline:0;}

button {
    border-radius: 8px;
    background-color: #117175;
    color: #8BBD8B;
    border: 2px solid #117175;
    padding: 7px;
    font-size: 2.0rem;
    margin-bottom: 20px;
}

button:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
}

/* High Scores Page */

#high-scores-page {
    display: none;
}

#high-scores-header {
    color: #8B9474;
    font-size: 2.7rem;
    text-align: center;
}

/* Footer */

#score-div {
    color: #8B9474;
    width: 540px;
    font-size: 1.3rem;
    margin: auto;
}

#high-scores-button {
    float: right;
}
